[submodule "services/B1Admin"]
	path = services/B1Admin
	url = https://github.com/ChurchApps/B1Admin.git
[submodule "services/B1App"]
	path = services/B1App
	url = https://github.com/ChurchApps/B1App.git
[submodule "services/Api"]
	path = services/Api
	url = https://github.com/ChurchApps/Api.git
[submodule "services/LessonsApi"]
	path = services/LessonsApi
	url = https://github.com/ChurchApps/LessonsApi.git
[submodule "services/AskApi"]
	path = services/AskApi
	url = https://github.com/ChurchApps/AskApi.git
